<table>
  <tr>
    <th>Nome</th>
    <th>CPF</th>
    <th>e-mail</th>
    <th>Requisitos</th>
    <th>Gerência de Configuração</th>
  </tr>
  <tr *ngFor="let a of alunos" class="alunoRow">
    <td class="nomeValue">{{a.nome}}</td>
    <td class="cpfValue">{{a.cpf}}</td>
    <td class="emailValue">{{a.email}}</td>
    <td class="meta">
      <input id="{{a.nome}}G0" [(ngModel)]="a.autoAvaliacao['requisitos']" (change)="atualizarAluno(a)">
    </td>
    <td class="meta">
      <input id="{{a.nome}}G1" [(ngModel)]="a.autoAvaliacao['gerDeConfiguracao']" (change)="atualizarAluno(a)">
    </td>
  </tr>
</table>
